/* app css stylesheet */

.ui.label > a {
    opacity: 1!important;
}

.ui.menu {
    min-height: 2em!important;
    height: 2em;
}


.top_navbar {
    background: #f4f4f4!important;
}

.dev-border {
    border: 1px solid black;
}

a {
    outline: none;
}